{% extends 'common/base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3 col-sm-12">
    <div class="card mt-5">
            <h5 class="card-header">登录</h5>
        
            <div class="card-body">
                {% if form.errors%}
                    <div class="alert alert-danger " role="alert">
                         登录失败，请检查用户名或是密码
                    </div>
                {% endif %}
                <form action="{% url 'accounts:signin' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% include "common/baseform.html" with form=form %} 
                  
                <div class="row">
                        <button type="submit" class="btn btn-primary m-auto">登录</button>
                </div>
                    
        
                </form>
            </div>
        </div>
</div>
{% endblock %}