
{% extends 'common/base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3 col-sm-12">
        <div class="card mt-5">
                <h5 class="card-header">注册</h5>
            
                <div class="card-body">
                    <form action="{% url 'accounts:signup' %}" method="POST">
                        {% csrf_token %}
                        {% include "common/baseform.html" with form=form %} 
                      
                    <div class="row">
                            <button type="submit" class="btn btn-primary m-auto">注册</button>
                    </div>
                        
            
                    </form>
                </div>
            </div>
</div>


{% endblock %}