<!-- widget tweak -->
{% load widget_tweaks %}

{% if not form.is_bound %}
    {% for field in form %}
        <div class="form-group row"> 
            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label"> {{field.label}} </label>
            <div class="col-sm-8">
                {% render_field field class="form-control form-control-lg" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            
            </div>
        </div>
    {% endfor %}
{% else %}
    {% if form.errors %}

    {% endif %}
    {% for field in form %}
        <div class="form-group row"> 
            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label"> {{field.label}} </label>
            <div class="col-sm-8">
                {% if field.errors %}
                    {% render_field field class="form-control form-control-lg is-invalid" %}
                {% else %}
                    {% render_field field class="form-control form-control-lg is-valid" %}
                {% endif %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            
            </div>
        </div>
    {% endfor %}
{% endif %}

